

//===========================基本設定=================================

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');


$gold_gradation: linear-gradient(135deg, rgba(229,193,103,1) 0%,rgba(229,212,169,1) 44%,rgba(200,154,16,1) 100%);
$gold_gradation_clear: linear-gradient(135deg, rgba(229,193,103,1) 0%,rgba(229,212,169,0.9) 44%,rgba(200,154,16,1) 100%);
$main-color1: rgb(223, 191, 111);
$main-color2: rgb(143, 111, 31);
$main-color3: rgb(57, 104, 143);

.top-message {
    width: 100%;
    background: pink;
}
.container {
    font-size: 15px;
    word-break: break-all;
}

.container h1 {
    font-size: 50px;
}

.container h2 {
    font-size: 20px;
}

.smaller-font-for-table {
    font-size: 0.6em;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 13.5px;
    }
    
    .container h1 {
        font-size: 30px;
    } 

    .container h2 {
        font-size: 15px;
    }

    .smaller-font {
        font-size: 8px;
    }

    .smaller-font-more {
        font-size: 1.8em;
    }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: $main-color2;
    transition: color .3s;
}

.appear990 {
    display: none;
}

@media screen and (max-width: 990px) {
    .disappear990 {
        display: none;
    }

    .appear990 {
        display: block;
    } 
}

.blue-btn {
    border-radius: 5px;
    border: 1.2px solid $main-color3;
    color: $main-color3;
    margin: 0 auto 1em auto;
    transition: .4s;
}

.blue-btn:hover {
    background: $main-color3;
    color: white;
}

.dark-btn {
    border-radius: 5px;
    border: 1.2px solid rgb(3, 15, 26);
    color: rgb(3, 15, 26);
    margin: 0 auto 1em auto;
    transition: .4s;
}

.dark-btn:hover {
    background: rgb(3, 15, 26);
    color: white;
}


.alert-box .alert {
    top: 39px;
}
//=========================[navigation_bar]===============================
.navi-wrapper {
    position: absolute;
    width: 100%;
}


.navi-bar {
    background: $gold_gradation;
    height: 35px;
}

.navi-bar:after {
    content:"";
    display: block;
    height: 4px;
    background: linear-gradient(135deg,rgba(203,169,83,1) 0%,rgba(144,111,12,1) 100%); 
}

.navi-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
}

.navi-item {
    position: relative;

    .inner {
        height: 35px;
        line-height: 35px;
        min-width: 90px;
        text-align: center;
        padding: 0 1em;
    } 

    //clickで出るメニュー//
    .navi-items-list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        background: rgba(49, 49, 49, 0.85);
        color: white;
        width: 210%;
        display: none;

        .login_user {
            padding: 0.5em 0.7em;
            font-size: 0.8em;
            background: $main-color2;
        }


        li {
            padding-top: 0.5em;
            padding-left: 1em;

            a {
                color: white;
            }

            a:hover {
                text-decoration: none;
                color: $main-color2;
                transition: color .3s;
            }
        }

        p {
            text-align: center;
            margin-top: 2em;
            padding: 0.5em 0;
            font-size: 0.8em;
            background: rgba(49, 49, 49, 0.9);
        }

        p:hover {
            color: gray;
            cursor: pointer;
        }
    }

    .navi-items-list.last {
        left: -110%;
    }
    //
}

.navi-item .inner:hover {
    background: rgba(49, 49, 49, 0.85);
    transition: background 0.3s, color 0.3s;
    color: $main-color2;
}

.navi-item .nest.picked {
    color: $main-color2;
    background: rgba(49, 49, 49, 0.85);
}


.logo-mark {
    margin-right: auto;
    .inner {
        font-family: 'Sacramento', cursive;
        font-weight: bold;
        font-size: 1.4em;
        color: $main-color3;
    }

    .inner:hover {
        background: none;
    }
}

//検索form//
.search-box {
    width: 240px;
    .inner:hover {
        background: none;
    }
}

.search-form {
    position:relative;
}
.search-text-field {
    height: 28px;
    position:absolute; 
    left:0;
    top: 4px; 
    border-radius:25px;
    background: linear-gradient(135deg, rgba(229,193,103,0.5) 0%,rgba(229,212,169,0.2) 44%,rgba(200,154,16,0.8) 100%);
    width: 210px;
    padding-left: 0.5em;
    padding-right: 3.5em;
    font-size: 0.8em;
}
.search-btn {
    height: 24px;
    width: 24px;	
    position:absolute; 
    left: 184px; 
    top: 5.5px;
    background:$main-color2;
    color:#fff;
    border:none;
    border-radius:0 25px 25px 0;

    .fa-search{
        font-size:13px;	
        position:absolute;
        top:25%;
        left:20%;	
    }
}
 
.search-btn:hover{
    color:#888;
}

//

.navi-for-mobile {
    display: none;

    .navi-list {
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-mark {
        margin: 0;
    }

    .navi-item {
        .inner {
            padding: 0 0.3em;
        }
    }
}

//clickで出るメニュー//
.navi-for-mobile .navi-item {
    .navi-items-list {
        position: absolute;
        top: 100%;
        left: -120%;
        width: 220%;
        font-size: 0.9em;

        li:hover {
            transition: background 0.3s, color 0.3s;
            color: $main-color2;
        }
        
        li.picked {
            transition: background 0.3s, color 0.3s;
            color: $main-color2;
        }

        .more-nest {
            position: relative;

            .more-nest-list {
                position: absolute;
                top: 0;
                left: 100%;
                background: rgba(49, 49, 49, 0.95);
                color: white;
                width: 150%;
                display: none;
            }



        }
    } 

    .search-form {
        position:relative;
        height: 36px;
    }

    .search-text-field {
        width: 160px;
        background: none;
        color: $main-color1;
    }

    .search-btn {
        left: 134px;
    }
}
//



@media screen and (max-width: 1200px) {
    .navi-item {
        .inner {
            font-size: 0.8rem;
            min-width: 60px;
        }
    }

    .logo-mark {
        .inner {
            font-size: 1.3rem;
        }
    }

    .search-box {
        width: 170px;

        .search-text-field {
            width: 150px;
            padding-left: 0.2em;
            padding-right: 3.2em;
        }
        .search-btn {
            height: 24px;
            width: 24px;	
            position:absolute; 
            left: 124px; 
            top: 5.5px;
            background:$main-color2;
            color:#fff;
            border:none;
            border-radius:0 25px 25px 0;
        
            .fa-search{
                font-size:13px;	
                position:absolute;
                top:25%;
                left:20%;	
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .navi-for-mobile {
        display: block;
    } 

    .navi-for-pc {
        display: none;
    }
}

//sticky header//
.navi-wrapper.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
        .navi-bar {
            background: $gold_gradation_clear;
        }

        .navi-bar:after {
            background: linear-gradient(135deg,rgba(203,169,83,0.7) 0%,rgba(144,111,12,0.9) 100%);
        }
}
//




//====================[HOME]=========================================

@import "home";

//====================[ITEMS]=========================================

@import "items";

//====================[ITEM_COLORS]===================================

@import "topics";

//====================[CART用]===================================

@import "cart_items";

//====================[購入時、情報入力画面]===================================

@import "orders";
@import "sales";

//====================[USERS]===========================================

@import "users";

//====================footer===========================================


footer {
    background-color: $main-color3;
    font-size: 0.8em;
    color: white;
}

.footer-wrapper {
    padding: 1em 2em;

    .inner {
        display: flex;
        flex-wrap:wrap;
    }
}

.footer-menu {
    width: 200px;
    margin: 1em;
}

.group1 {
    width: 450px;
}





//====================管理者ページ====================================================
//--------------基本設定--------------------------------


.simple-btn {
    width: 6em;
    text-align: center;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 1px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.simple-btn:hover {
    background: #67c5ff;
    color: white;
}


//====================トップ===========================================

@import "admin/home";

//====================アイテム=======================================================

@import "admin/items";
