

//===========================基本設定=================================

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

$gold_gradation: linear-gradient(135deg, rgba(229,193,103,1) 0%,rgba(229,212,169,1) 44%,rgba(200,154,16,1) 100%);
$main-color1: rgb(223, 191, 111);
$main-color2: rgb(143, 111, 31);
$main-color3: rgb(57, 104, 143);

.container {
    font-size: 15px;
    word-break: break-all;
}

.container h1 {
    font-size: 50px;
}

.container h2 {
    font-size: 20px;
}

.smaller-font-for-table {
    font-size: 0.6em;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 13.5px;
    }
    
    .container h1 {
        font-size: 30px;
    } 

    .container h2 {
        font-size: 15px;
    }

    .smaller-font {
        font-size: 8px;
    }

    .smaller-font-more {
        font-size: 1.8em;
    }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: $main-color2;
    transition: color .3s;
}

.appear990 {
    display: none;
}

@media screen and (max-width: 990px) {
    .disappear990 {
        display: none;
    }

    .appear990 {
        display: block;
    } 
}



//=========================[navigation_bar]===============================

.navi-bar {
    background: $gold_gradation;
    height: 2.2em;
}

.navi-bar:after {
    content:"";
    display: block;
    height: 0.35em;
    background: linear-gradient(135deg,rgba(203,169,83,1) 0%,rgba(144,111,12,1) 100%); //color-pattern 2
}

.navi-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navi-item {
    margin-right: 2em;
}


.logo-mark {
    margin-right: auto;
    font-family: 'Sacramento', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: $main-color3;
}


.navi-for-mobile {
    display: none;
}

.navi-for-mobile .navi-list {
    align-items: center;
    justify-content: space-between;
}

.navi-for-mobile .logo-mark {
    margin: 0;
}



@media screen and (max-width: 1200px) {
    .navi-item {
        font-size: 0.8rem;
    }

    .logo-mark {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 768px) {
    .navi-for-mobile {
        display: block;
    } 

    .navi-for-pc {
        display: none;
    }
}

.blue-btn {
    border-radius: 5px;
    border: 1.2px solid $main-color3;
    color: $main-color3;
    margin: 0 auto 1em auto;
    transition: .4s;
}

.blue-btn:hover {
    background: $main-color3;
    color: white;
}

.dark-btn {
    border-radius: 5px;
    border: 1.2px solid rgb(3, 15, 26);
    color: rgb(3, 15, 26);
    margin: 0 auto 1em auto;
    transition: .4s;
}

.dark-btn:hover {
    background: rgb(3, 15, 26);
    color: white;
}


//====================[HOME]=========================================

@import "home";

//====================[ITEMS]=========================================

@import "items";

//====================[ITEM_COLORS]===================================

@import "topics";

//====================[CART用]===================================

@import "cart_items";

//====================[購入時、情報入力画面]===================================

@import "orders";
@import "sales";

//====================[USERS]===========================================

@import "users";

//====================footer===========================================


footer {
    height: 6em;
    background-color: $main-color3;
    color: white;
}

