// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//======================[基本設定]======================================

//------main-outerのトピックスを非表示にする---------------

@media screen and (max-width: 990px) {
    .items-page .right-wrapper {
        display: none;
    }
}

//=========================[item_index_for_top]=====================================

//===============================[item_cards]=======================================

//-------------------[item_cards_a]-----------------------

.item-card-a {
    text-align: center;
    margin-bottom: 2em;
}

.item-card-a img {
    width: 100%;
    height: auto;
}

.item-card-a p {
    padding-bottom: 0.2em;
    font-size: 0.9em;
}

.item-card-a .price {
    font-weight: lighter;
    font-size: 0.75em;
}

.item-card-a:last-child {
    margin-bottom: 6em
}


//-----------------[item_cards_b]---------------------

.item-card-b {
    width: 24%;
    min-width: 24%;
    text-align: center;
    margin-bottom: 0;
}


.item-card-b img { 
    width: 80%;
    height: auto; 
}

.item-card-b p {
    padding-bottom: 0.2em;
    font-size: 0.8em;
}

.item-card-b .price {
    font-weight: lighter;
    font-size: 0.65em;
}

@media screen and (max-width: 768px) {
    .item-card-b {
        width: 30%;
        min-width: 30%;
    }
}

//-----------------[item_cards_c]---------------------

.cart-items-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.item-card-c {
    display: flex;
    position: relative;
    background: $main-color1;
    border-top: 2px solid $main-color2;
}

.item-card-c .image-part {
    width: 32%;
    position: relative;
    
    img {
        display: block;
        width: 90%;
        margin: 1em auto;
    }
}

.info-part {
    height: auto;
    width: 68%;
}

.info-part .info-record {
    display: flex;
    height: (100% / 6);
    box-sizing: border-box;
    padding-top: 0.3em;
    
    .title {
        width: 22%;
        text-align: right;
    }

    .value {
        width: 78%;
        padding-left: 1em;

        .btn-up, .btn-down {
            display: inline-block;
            background: rgb(104, 87, 87);
            color: white;
            width: 2em;
            height: 1.2em;
            line-height: 1em;
            text-align: center;
            border-bottom: 2px solid rgba(54, 47, 47, 0.5);
            border-radius: 2px;
        }

        .btn-up:active, .btn-down:active {
            transform: translateY(2px);
            border-bottom: none;
        }
    }
}

.delete-btn {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    background: rgba(0,0,0,0.4);
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
}

//======================[index]==================================
.item-group-information {
    text-align: center;
}

.item-group-information .image-part {
    width: 100%;
    margin: 2em 0;
    
    img {
        width: 20%;
        min-width: 150px;
        height: auto;
    }
}
        
.item-group-information .description-part {
    background-image: url(./default_images/water_screen.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 1.5em;

    .description-part-inner {
        width: 30%;
        min-width: 450px;
        margin: 0 auto;
        padding: 2em 0;

        .description-box {
            width: 100%;
            padding: 1em 1.5em;
            color: white;
            background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(100,110,112,0.6) 100%);
        }

    }
    
    
}



//======================[item_page]==================================

//--------------------画像パート--------------------

.item-images-wrapper {
    width: 100%;
    position: relative;
}

.item-images-wrapper:before {
    content: "";
    display: block;
    padding-top: 67%;
}

.wrapper-to-fix-aspect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
}


.main-image-part {
    width: 70%;
}

.main-image-part img {
    width: 80%;
}

.sub-images-part {
    width: 30%;
    overflow: scroll;
}

.images-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 0 auto;
}

.images-box img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    
    .item-images-wrapper:before {
        content: "";
        display: block;
        padding-top: 115%;
    }
    
    .wrapper-to-fix-aspect {
        flex-direction: column;
    }
    .main-image-part {
        width: 95%;
        margin: 0 auto 0.5em auto;
    }

    .sub-images-part {
        width: 100%;
    }
    .images-box {
        width: 100%;
        flex-wrap: nowrap;
    }

    .images-box img {
        width: 18%;
        height: auto;
    }
}


//--------------------商品名、価格--------------------
.item-name-wrapper {
    text-align: center;
    margin: 1.5em 0;
}



//--------------------カラー展開、選択----------------------
.color-select-wrapper {
    text-align: center;
    margin: 0.5em 0;
}

.color-select-inner {
    width: 80%;
    margin: 0 auto;
}

.color-blocks {
    display:flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .color-block {
        font-weight: bold;
        border: solid 3px white;
        width: 25%;
        background-color: $main-color1;

        .inner {
            padding: 0.3em 0;  
        }

        a {
            color: white;
        }

        a:hover {
            color: $main-color2;
            translate: .3s;
        }
        
    }

    .color-block.picked-block {
        color: black;
        border: solid 3px $main-color2;
        background-color: rgb(216, 92, 92);
    }
}




@media screen and (max-width: 768px) {  
    .color-block {
        min-width: 50%;
    }
}



//------------------アイテムサイズ、説明-----------------

.item-detail-wrapper {
    margin-top: 2em;
    text-align: center;
}

.item-description {
    width: 80%;
    background-color: rgba(223, 191, 111, 0.4);
    margin: 2em auto 0 auto;
}

.description-inner {
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0;
}



//----------------サイズ表---------------------------
.size-detail-wrapper {
    margin-top: 2.5em;
    text-align: center;
}

.table-wrapper {
    width: 80%;
    margin: 0.2em auto 0 auto;
    overflow: scroll;
    font-size: 0.75em;
}

thead th {
    background-color:rgba(59, 55, 42, 0.4);
}

thead th:first-child {
    width: 18%;
}

tbody td:first-child {
    background-color:rgba(189, 176, 134, 0.4);
}



//----------------在庫表---------------------------
.stock-detail-wrapper {
    margin-top: 2.5em;
    text-align: center;
}



//---------------関連topics and items---------------------

.related-items-and-topics-wrapper {
    margin-top: 3em;
}



//---------------関連トピックス---------------------

.related-topics-cards-wrapper {
    display: flex;
    flex-flow: row;
    overflow: scroll;
}

//-------------------[topics_card_b]---------------------------

.topics-card-b {
    width: 25%;
    min-width: 25%;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 0;
    margin-left: 0;
}


.topics-card-b img { 
    width: 80%;
    height: auto; 
}

 .topics-card-b .topics-name {
    padding-bottom: 0.2em;
    font-size: 0.8em;
}

 .topics-card-b .topics-date {
    font-weight: lighter;
    font-size: 0.65em;
}


//---------------関連アイテム---------------------
.related-item-cards-wrapper {
    display: flex;
    flex-flow: row;
    overflow: scroll;
}


