// Place all the styles related to the ItemColors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//===============================[item_cards]=======================================

//-------------------[item_cards_a]-----------------------

.item-card-a {
    text-align: center;
    margin-bottom: 2em;
}

.item-card-a img {
    width: 100%;
    height: auto;
}

.item-card-a p {
    padding-bottom: 0.2em;
    font-size: 0.9em;
}

.item-card-a .price {
    font-weight: lighter;
    font-size: 0.75em;
}

.item-card-a:last-child {
    margin-bottom: 6em
}


//-----------------[item_cards_b]---------------------

.item-card-b {
    width: 24%;
    min-width: 24%;
    text-align: center;
    margin-bottom: 0;
}


.item-card-b img { 
    width: 80%;
    height: auto; 
}

.item-card-b p {
    padding-bottom: 0.2em;
    font-size: 0.8em;
}

.item-card-b .price {
    font-weight: lighter;
    font-size: 0.65em;
}

@media screen and (max-width: 768px) {
    .item-card-b {
        width: 30%;
        min-width: 30%;
    }
}

//-----------------[item_cards_c]---------------------

.cart-items-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.item-card-c {
    display: flex;
    position: relative;
    background: rgb(223, 191, 111);
    border-top: 2px solid rgb(143, 111, 31);
}

.item-card-c .image-part {
    width: 32%;
    position: relative;
    
    img {
        display: block;
        width: 90%;
        margin: 1em auto;
    }
}

.info-part {
    height: auto;
    width: 68%;
}

.info-part .info-record {
    display: flex;
    height: (100% / 6);
    box-sizing: border-box;
    padding-top: 0.3em;
    
    .title {
        width: 22%;
        text-align: right;
    }

    .value {
        width: 78%;
        padding-left: 1em;
    }
}

.delete-btn {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    background: rgba(0,0,0,0.4);
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
}
