// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//===================================[ログイン画面]=========================================

.for_new_user {
    text-align: center;
    padding-bottom: 7em;
    width: 60%;
    margin: 0 auto;
}



//====================================[新規登録画面]========================================

.error_explanation {
    max-width: 800px;
    margin: 0 auto;
    background: pink;
    border: 1px solid red;
    padding: 0.5em 0 0 2em;
    list-style: disc;

    li {
        padding-bottom: 0.5em;
        color: red;
    }
}

//====================================[情報確認画面]========================================


.info-input-box.for-confirmation3 {
    font-size: 1em;
    margin-top: 6em;
    
    .main-box .info-record {   
        .input-part {
            display: flex;
            align-items: center;
            margin: 0;

            p {
                width: 80%;
                max-width: 80%;
                margin: 1em 0 1em 2em;
                padding: 0;
            }

            .button-box {
                width: 20%;
                margin:0;
                text-align: center;

                button {
                    margin: 0;
                }
            }
        }
    }

}

//====================================[編集画面]========================================

.disapper {
    display: none !important;
}


//====================================[購入履歴]========================================

p.box-under-line {
    width: 100%;
    height: 2px;
    background: $main-color2;
}